body {
  font-family: "Rubik", sans-serif;
}

.bdt_banner {
  background-color: beige;
}
.bdt_banner img {
  display: block;
  width: 30rem;
  height: 13rem;
  margin-left: auto;
  margin-right: auto;
}
.video_container {
  text-align: center;
  margin: 50px auto 30px;
}

.video_container h2 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.text-center p-3 {
  color: white;
}

.container {
  margin-top: 4rem;
}
.col {
  margin-left: auto;
  margin-right: auto;
}
